<div>
  <div>
    <div id="uservideocontainer1">
      <video id="user1video" autoplay></video>
    </div>
    <div *ngIf="!checkScreen" id="back_ground">
      <img
        id="img"
        src="../../../../../assets/119148422_182366610069243_8985745084837655824_n.jpg"
      />
    </div>
  </div>
  <div id="uservideocontainer2">
    <video autoplay id="user2video"></video>
  </div>
  <button id="btn-call-end" mat-fab>
    <i class="uil uil-phone-slash" style="font-size: 150%"></i>
  </button>
</div>

<div>
  <div class="menuItems">
    <button
      mat-icon-button
      class="btn-menu"
      mat-icon-button
    >
      <i class="uil uil-ellipsis-v" style="font-size: 150%"></i>
    </button>
  </div>
    <div id="menuBtnCalls" class="menu-items">
      <button class="btn-call" mat-icon-button>
        <i class="uil uil-signout" style="font-size: 150%"></i>
      </button>
      <button class="btn-call" mat-icon-button (click)="screenOff()">
        <i
          *ngIf="checkScreen"
          class="uil uil-video-slash"
          style="font-size: 150%"
        ></i>
        <i
          *ngIf="!checkScreen"
          class="uil uil-video"
          style="font-size: 150%"
        ></i>
      </button>
      <button class="btn-call" mat-icon-button (click)="onOff()">
        <i *ngIf="!onOffScreen" class="uil uil-eye" style="font-size: 150%"></i>
        <i
          *ngIf="onOffScreen"
          class="uil uil-eye-slash"
          style="font-size: 150%"
        ></i>
      </button>
      <button class="btn-call" mat-icon-button (click)="micOff()">
        <i
          *ngIf="checkMic"
          class="uil uil-microphone-slash"
          style="font-size: 150%"
        ></i>
        <i
          *ngIf="!checkMic"
          class="uil uil-microphone"
          style="font-size: 150%"
        ></i>
      </button>
      <button class="btn-call" mat-icon-button>
        <i class="uil uil-users-alt" style="font-size: 150%"></i>
      </button>
      <button class="btn-call" mat-icon-button>
        <i class="uil uil-grin" style="font-size: 150%"></i>
      </button>
      <button class="btn-call" mat-icon-button>
        <i class="uil uil-setting" style="font-size: 150%"></i>
      </button>
    </div>
</div>
