.btn-menu {
  color: #9756e2;
  margin: 1% 0.8% 0 0;
  z-index: 1000;
}

.btn-call {
  color: #9756e2;
  margin: 1% 0.8% 0 0;
  z-index: 1000;
}

.menuItems{
  color: #9756e2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 0.8% 0 0;
}

.menu-items{
  color: #9756e2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 0.8% 0 0;
}

#user2video {
  position: absolute;
  z-index: -1;
}

#user1video {
  z-index: 1;
  position: absolute;
  width: 20%;
  height: 50%;
  background-color: white;
  margin: 2% 2% 1% 2%;
}

#btn-call-end {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  margin: 0 auto;
  background-color: red;
  color: white;
}

#back_ground {
  position: absolute;
  z-index: 10;
  background-color: #b0bec5;
  width: 20%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2% 2% 1% 2%;
  border-radius: 10px;
}

#img {
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

