<div style="height: fit-content">
  <div>

    <div *ngIf="!this.checkScreen" id="back_ground">
      <img
        id="img"
        src="{{this.ownerInfo.photoURL}}"
      />
    </div>
  </div>
  <div id="uservideocontainer2">
      <video id="user1video" autoplay></video>
    <video autoplay id="user2video" height="100%" width="100%"></video>
    <div class="btn-container">
      <button class="btn-call" [disabled]="this.camInProgress" mat-fab (click)="turnWebCam()">
        <i
          *ngIf="checkScreen"
          class="uil uil-video-slash"
          style="font-size: 150%"
        ></i>
        <i
          *ngIf="!checkScreen"
          class="uil uil-video"
          style="font-size: 150%"
        ></i>
      </button>
      <button class="btn-call" id="btn-call-end" (click)="endCall()" mat-fab>
        <i class="uil uil-phone-slash" style="font-size: 150%"></i>
      </button>
      <button class="btn-call" [disabled]="this.micInProgress" mat-fab (click)="turnMic()">
        <i
          *ngIf="checkMic"
          class="uil uil-microphone-slash"
          style="font-size: 150%"
        ></i>
        <i
          *ngIf="!checkMic"
          class="uil uil-microphone"
          style="font-size: 150%"
        ></i>
      </button>
    </div>
  </div>
</div>

