<div class="login-page">
    <div class="form">
      <div class="logoOlaz">
        <img src="../../../../../assets/images/welcome-login.png" id="logo">
      </div>
      <div class="login-form">
        <img id="avata-image" src="../../../../../assets/purple-logo.png">
        <h1 style="color: rgba(0, 0, 0, 0.8); font-style: normal; font-weight: 900; font-size:3vw; letter-spacing: 5px; text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);" > WELCOME </h1>
        <div class="email">
          <mat-form-field class="example-full-width" >
            <i matPrefix class="uil uil-envelope-alt" style="font-size: 200%; padding-right: 5px; color: rgba(0, 0, 0, 0.5); font-weight: 100;"></i>
            <input matInput type="email" placeholder="Email">
          </mat-form-field>
        </div>
        <div class="password">
          <mat-form-field class="example-full-width" >
            <i matPrefix class="uil uil-lock" style="font-size: 200%; color: rgba(0, 0, 0, 0.5);"></i>
            <input matInput type="password" placeholder="Password">
          </mat-form-field>
        </div>
        <div id="forgot-password">
        </div>
        <button class="btn-login" (click)="this.Login.login()">LOGIN</button>
        <button class="btn-login-google" (click)="this.Login.logout()">
            <i class="uil uil-google" style="padding-right:1%;"></i>
            LOG IN WITH GOOGLE
        </button>
        <div id="register">
          <a style="letter-spacing: 1px;">Don't have an account? </a>
          <a style="text-decoration-line: underline; font-weight:bold; letter-spacing: 1px;">Register </a>
        </div>
      </div>
    </div>
</div>