.form {
    margin-left: 10%;
    margin-top: 5%;
    position: absolute;
    background-color: white;
    display: flex;
    width: 80%;
    height: 80%;
    border-radius: 10px;
  }
  
  .login-page {
    width: 100%;
    height: 100%;
    background: #9756E2;
    position: relative;
  }
  
  #logo {
    width: 100%;
  }
  
  .logoOlaz {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #img-logo {
    margin-top: 35%;
    width: 60%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn-login {
    background: #9756E2;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    width: 70%;
    height: 5%;
    margin-top: 5%;
    font-family: Encode sans;
    font-style: normal;
    font-size: 1.5vw;
    text-align: center;
    color: #FFFFFF;
    border: none;
  
  }
  
  .btn-login-google {
    background: #9756E2;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    width: 70%;
    height: 5%;
    margin-top: 4%;
    font-family: Encode sans;
    font-style: normal;
  
    font-size: 1.5vw;
    text-align: center;
    color: #FFFFFF;
    border: none;
  }
  
  #avata-image {
    width: 20%;
    margin-top: 10%;
  }
  
  .email {
    width: 80%;
    margin-top: 5%;
  }
  
  .password {
    margin-top: 5%;
    width: 80%;
  }
  
  #forgot-password {
    font-family: Encode sans;
    font-style: normal;
    font-size: 100%;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 63%;
  }
  
  #register {
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-top: 1%;
    font-family: Encode sans;
    font-style: normal;
  }
  
  .example-full-width {
    width: 100%;
  }

  
  .mat-input-element {
    font-family: Encode sans;
    font-style: normal;
    font-size: 180%;
    border-width: 0;
    width: 80%;
    color: rgba(0, 0, 0, 0.8);
  
  }
  
  .uil-envelope-alt::before {
    padding-right: 3px;
  }
  
  .uil-lock::before {
    padding-right: 3px;
  }