<div class="side" [ngClass]="collapsed ? 'sidenav-collapsed' : ''" *ngIf="appear !== undefined ">
    <div class="logo-container">
      <!-- <button class="logo" [ngStyle]="{display: collapsed ? 'none':'block' }"> -->
        <!-- <i class="uil uil-angle-double-right" matTooltip="Open sidebar" matTooltipPosition="after"></i> -->
      <!-- </button> -->
      <img  src="../../../assets/white-logo.png" alt="" style="width:50px; height: 15;">
      <!-- <img  src="../../../assets/white-logo.png" alt="" style="width:80px; height: 15;"> -->
      <!-- <div class="logo-text" *ngIf="collapsed">Olaz</div>
      <button class="btn-close" *ngIf="collapsed" >
        <i class="uil uil-angle-double-left" style="font-size: 30px;"></i>
      </button> -->
    </div>
    <ul class="sidenav">
      <li class="sidenav-item" *ngFor="let data of navData">
        <a href="" class="sidenav-link" [routerLink]="[data.routeLink]"  [matTooltip]="collapsed ?'' : data.Label"   matTooltipPosition="after"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact : true}"
        >
          <i class="sidenav-link-icon" [class]="data.icon" ></i>
          <!-- <span class="icon-button__badge">4</span> -->
          <span class="sidenav-link-text" *ngIf="collapsed">{{
            data.Label
          }}</span>
        </a>
      </li>
    </ul>
  </div>
  
  <!-- <div>
    <ul class="sidenav">
      <li class="sidenav-item">
        <a href="" class="sidenav-link" >
          <i class="sidenav-link-icon"></i>
          <span class="sidenav-link-text"> chat</span>
        </a>
      </li>
    </ul>
  </div> -->
  
