.Top-bar{
    display: flex;  
    border-bottom-width: 3px black;
    border-bottom-style: solid;
}



// h1{
//     margin-bottom: 0%;
// }

// .Body-bar{
//     align-items: center;
//     border:4px;
//     width:80%;
//     // border-style: solid;
//     // border-color: aquamarine;
// }

// .body-searching-bar{
//     display:inline-flex;
//     width: 80%;
//     text-align: center;
// }

// .search-user-email{
//     width: 100%;
//     text-align: center;
//     margin:1% 0 1% 10%;
// }

// input.enter-email{
//     width:90%
// }

// .search-user-icon{
//     width: 10%;
//     margin:1% 0 1% 0;
// }

// .body-user-email{
//     display: flex;
//     align-items: center;
// }

// .user-image{
//     display: inline-block;
//     margin-right: 0%;
//     margin-left: 10%;
//     // width: 33%;
// }

// .user-email{
//     display: inline-block;
//     margin-right: 5%;
//     margin-left: 2%;
//     width: 20%;
// }

// .user-forward{
//     display: inline-block;
//     margin-right: 5%;
//     margin-left: 5%;
//     width: 33%;

// }

// input.body-message-bar{
//     width:80%;
//     margin-left:10%;
// }


.example-form {
    // min-width: 150px;
    // max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  