.Top-bar{  
    border-bottom-width: 3px black;
    border-bottom-style: solid;
    margin-bottom: 2%;
}

h1{
    margin-bottom: 0%;
}

.Body-bar{
  margin-top: 1%;
}

.example-form {
    // min-width: 150px;
    // max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  input{
    border-radius: 10%;
  }