<div id="Layout-parent">
  <div id="Layout-left">
    <div style="padding: 10px;">
      <div class="left-top">
        <div *ngIf="user" style="display: flex; flex-direction: row; justify-content: space-between;">
          <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
            <img class="image-user" [src]="user.photoURL">
            <div style="margin-left: 10px">
              <p class="Font-user">{{user.displayName}}</p>
              <div style="display: flex; flex-direction: row;">
                <div class="Circle-green"></div>
                <div class="Online-left">online</div>
              </div>
            </div>
          </div>

          <button class="add-room" (click)="openDialogCreatRoom()">
            <img class="add-room-ava" src="../../../assets/assets/users-alt (2).png">
          </button>

        </div>
      </div>
      <div>
        <input type="search" name="search" placeholder="Search..." id="Input-search1">
      </div>
      <div>
        <div class="canle">
          <div class="optionBtn">
            <button class="active">ALL</button>
          </div>

          <div class="optionBtn">
            <button>READ</button>
          </div>
        </div>
      </div>

      <!-- conversation List -->
      <div style="overflow-y: auto;">
        <div *ngIf="rooms">
          <span *ngFor="let room of rooms ">
            <div style=" background-color: rgb(182, 182, 182);
            border-radius: 15px;" *ngIf="room.id === roomId" (click)="changeMessage(room.id)" class="cha-1">
              <div class="ava">
                <img class="avachat" [src]="room.image" alt="HE" (error)="handleError($event)">
              </div>
              <div>
                <p class="ten-1">{{room.name}}</p>
              </div>
            </div>

            <div *ngIf="room.id !== roomId" (click)="changeMessage(room.id)" class="cha-1">
              <div class="ava">
                <img class="avachat" [src]="room.image" alt="">
              </div>
              <div>
                <p class="ten-1">{{room.name}}</p>
              </div>
            </div>
          </span>

        </div>
      </div>
    </div>
  </div>

  <div id="Layout-right">
    <div *ngIf="message===''" class="right-top" style="padding: 10px; display:flex; flex-direction: row;">
      <div class="Circle-top-one">
        <div style="display: flex; flex-direction: row;">
          <img class="image-message" [src]="room.image" alt="">
          <div style="margin-left: 10px">
            <p class="font-user-one">{{room.name}}</p>

            <div style="display: flex; flex-direction: row;">

              <div class="circle-green-top-one"></div>

              <div class="online-right">online</div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-top-one">
        <i matTooltip="Video call" class="uil uil-video" (click)="clickCall()"></i>
        <i matTooltip="Audio call" class="uil uil-phone"></i>
        <i matTooltip="Search message" class="uil uil-search"></i>
        <i matTooltip="Task list" class="uil uil-clipboard-notes"></i>
        <i matTooltip="Settings" class="uil uil-ellipsis-v"></i>
      </div>
    </div>
    <div id="right-center" *ngIf="message!==''">
      <p style="padding: 20%; text-align: center;">{{message}}</p>
    </div>
    <div style="overflow-y: auto; height: 50%;">
      <div *ngIf="room" id="right-center">
        <div *ngFor="let message of room.messages">
          <div *ngIf="message.userId?.id === myId && !message.image" class="cha">
            <div class="my-message">
              <span style="flex: 1 1 auto;"></span>
              <p mat-raised-button #tooltip="matTooltip" matTooltip="{{message.createdTime | date: 'short'}}"
                aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                class="noidungtinnhan">{{message.content}}</p>
            </div>
          </div>
          <div *ngIf="message.userId?.id !== myId && !message.image" class="cha">
            <div class="fr-message">
              <p mat-raised-button #tooltip="matTooltip" matTooltip="{{message.createdTime | date: 'short'}}"
                aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                class="noidungtinnhan-fr">{{message.content}}</p>
            </div>
          </div>
          <div *ngIf="message.userId?.id === myId && !message.content && message.image !== ''">
            <div mat-raised-button #tooltip="matTooltip" matTooltip="{{message.createdTime | date: 'short'}}"
              aria-label="Button that displays a tooltip that hides when scrolled out of the container"
              class="my-image">
              <span style="flex: 1 1 auto;"></span>
              <img class="noidunghinhanh" style="float: right;width:20%;" [src]="message.image" alt="">
            </div>
          </div>
          <div *ngIf="message.userId?.id !== myId && !message.content">
            <div mat-raised-button #tooltip="matTooltip" matTooltip="{{message.createdTime | date: 'short'}}"
              aria-label="Button that displays a tooltip that hides when scrolled out of the container"
              class="fr-image">
              <img class="noidunghinhanh-fr" style="width:20%" [src]="message.image" alt="">
            </div>
          </div>
        </div>

      </div>
    </div>
    <div *ngIf="room" class="right-bottom">
      <div class="icon-bottom">
        <div class="hub-icon">
          <button class="button-function"><img class="icon-logo-bottom"
              src="../../../assets/assets/link-free-icon-font.png" alt="">
          </button>
        </div>
        <div class="hub-icon">
          <button class="button-function"><img class="icon-logo-bottom"
              src="../../../assets/assets/clock-five-free-icon-font.png" alt=""></button>
        </div>
        <div class="hub-icon">
          <button class="button-function"><img class="icon-logo-bottom"
              src="../../../assets/assets/smile-free-icon-font.png" alt=""></button>
        </div>
        <div class="hub-icon">
          <button (click)="fileInput.click()" class="button-function">
            <img class="icon-logo-bottom" src="../../../assets/assets/picture-free-icon-font.png" alt="">
            <input #fileInput type="file" (change)="onFileSelectedEvent($event)" style="display: none;" />
          </button>

        </div>
      </div>
      <div class="input-message">
        <div class="bottom-input-left">
          <input *ngIf="room" class="input-kichthuoc" (keydown)="onKeydown($event)" type="text" [(ngModel)]="content"
            placeholder="Enter your messages....">
        </div>
        <div class="bottom-input-right">
          <button class="btn-send" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
