<div id="Layout-parent">

    <div id="Layout-left">

        <div class="left-top">
            <div style="display: flex;">
                <div class="Circle-left-one"></div>

                <div class="Letter-left">
                    <P class="Font-user">Chí Khang</P>
                    <div style="display: flex;">
                        <div class="Circle-green"></div>
                        <div class="Online-left">online</div>
                    </div>
                </div>
            </div>


            <div id="Input-search">
                <div>
                    <input type="search" name="search" placeholder="Tìm Kiếm" id="Input-search1">
                    <img src="../../../assets/assets/user-add (3).png" alt="" class="Icon-user">
                </div>
            </div>

            <div class="canle">
                <div class="tatca">
                    <p>Tất cả</p>
                </div>

                <div class="dadoc">
                    <p>Đã đọc</p>
                </div>
            </div>

            <div class="ngang"></div>

            <div class="cha-1">
                <div class="ava">
                    <img class="avachat" src="../../../assets/assets/benzema-real-1-3834.jpg" alt="">
                </div>

                <div>
                    <p class="ten-1">Ferrari</p>
                    <p class="ten-1-1">Ferrari: Hello Ferrari</p>
                </div>

            </div>

            <div class="cha-1">
                <div class="ava">
                    <img class="avachat" src="../../../assets/assets/Benzema.jpg" alt="">
                </div>

                <div>
                    <p class="ten-1">Lamborghini</p>
                    <p class="ten-1-1">Me: Nice to meet you</p>
                </div>
            </div>

            <div class="cha-1">
                <div class="ava">
                    <img class="avachat" src="../../../assets/assets/real-madrid-benzema-1-15.jpg" alt="">
                </div>

                <div>
                    <p class="ten-1">Mercedes</p>
                    <p class="ten-1-1">Mercedes is typing...</p>
                </div>
            </div>

            <div class="cha-1">
                <div class="ava">
                    <img class="avachat" src="../../../assets/assets/real-madrids-karim-benzema-jubelt-1539004837-18132-3958.jpg" alt="">
                </div>

                <div>
                    <p class="ten-1">Porsche</p>
                    <p class="ten-1-1">Porsche: Yep Thanks</p>
                </div>
            </div>

            <div class="cha-1">
                <div class="ava">
                    <img class="avachat" src="../../../assets/assets/Emyeuuu.jpg" alt="">
                </div>

                <div>
                    <p class="ten-1">Trang Phạm</p>
                    <p class="ten-1-1">Trang Phạm: Yeeu Annh Raat Nheeu</p>
                </div>
            </div>

        </div>

    </div>


    <div id="Layout-right">

        <div class="right-top" style="display:flex;">

            <div class="Circle-top-one">
                <img class="image-message" src="../../../assets/assets/Emyeuuu.jpg" alt="">
            </div>

            <div class="right-top-one">

                <p class="font-user-one">Trang Phạm</p>

                <div style="display: flex;">

                    <div class="circle-green-top-one"></div>

                    <div class="online-right">online</div>

                </div>

            </div>

            <div class="icon">
                <div class="icon-logo">
                    <img src="../../../assets/assets/menu-dots-vertical (1).png" alt="">
                </div>

                <div class="icon-logo">
                    <img src="../../../assets/assets/search (3).png" alt="">
                </div>

                <div class="icon-logo">
                    <img src="../../../assets/assets/phone-call (1).png" alt="">
                </div>

                <div class="icon-logo">
                    <img style="" src="../../../assets/assets/video.png" alt="">
                </div>
            </div>

        </div>

        <div id="right-center">
            <div>
                <div class="circle-user-one">

                    <div class="messager-user">

                        <p class="content">Hello, Chí Khang</p>

                        <div class="content-two">
                            <p>15:00 PM</p>
                        </div>

                    </div>

                    <div class="kich-co-one">
                        <img src="../../../assets/assets/menu-dots (2).png" alt="" class="menu-icon">
                    </div>

                </div>

                <div class="messager-user-one">

                    <p class="content-one">Tối qua rước Em đi chơi nha Anh ^-*</p>

                    <div class="content-three">
                        <p>15:00 PM</p>
                    </div>

                    <div class="kich-co-two">
                        <img src="../../../assets/assets/menu-dots (2).png" alt="">

                    </div>
                </div>
            </div>




            <div class="cha">
                <div class="bacham">
                    <img src="../../../assets/assets/menu-dots (2).png" alt="">
                </div>

                <div class="tinnhan">
                    <p class="noidungtinnhan">Vâng anh biết rồi nè</p>
                    <p class="thoigiantinnhan">15:05 PM</p>
                </div>

                <div class="hinhanh">
                    <img class="hinhanhdaidien" src="../../../assets/assets/Anhyeuuu.jpg" alt="">
                </div>

            </div>

            <div class="cha-1">

                <div class="bacham-1">
                    <img src="../../../assets/assets/menu-dots (2).png" alt="">
                </div>

                <div>

                    <div class="tinnhan-1">
                        <p class="noidungtinnhan-1">I love you, I hope you will always be with me</p>

                        <p class="thoigiantinnhan-1">15:05 PM</p>

                    </div>
                </div>
            </div>



            <div class="cha-1">

                <div class="hinhanh-2">
                    <img class="hinhanhdaidien-2" src="../../../assets/assets/Emyeuuu.jpg">
                </div>

                <div class="tinnhan-2">
                    <p class="noidungtinnhan-2">Yeeu Annh Raat Nheeu</p>
                    <div class="thoigiantinnhan-2">
                        <p>15:10 PM</p>
                    </div>
                </div>

                <div class="bacham-2">
                    <img src="../../../assets/assets/menu-dots (2).png" alt="">
                </div>
            </div>
        </div>

        <div class="right-bottom">
            <div class="icon-bottom">
                <div>
                    <img class="icon-logo-bottom" src="../../../assets/assets/smile-free-icon-font.png" alt="">
                </div>

                <div>
                    <img class="icon-logo-bottom" src="../../../assets/assets/clock-five-free-icon-font.png" alt="">
                </div>

                <div>
                    <img class="icon-logo-bottom" src="../../../assets/assets/picture-free-icon-font.png" alt="">
                </div>

                <div>
                    <img class="icon-logo-bottom" src="../../../assets/assets/link-free-icon-font.png" alt="">
                </div>
            </div>

            <div class="input">
                <input class="input-kichthuoc" type="text" placeholder="Enter your messages...."
                    style="text-align: left;">
            </div>
        </div>


    </div>

</div>