<!-- <h2 mat-dialog-title>Install Angular</h2> -->
<mat-dialog-content class="mat-typography">
  <!-- <h3>Develop across all platforms</h3> -->
  <div class="forward-pop-up">
    <div class="Top-bar">
      <h1>Friend Request</h1>
    </div>
    <div class="Body-bar">
      <mat-list>
        <mat-selection-list>

          <mat-list-item *ngFor="let user of request">
            <img (error)="handleError($event)" matListAvatar [src]="user.photoURL" />

            <div matLine class="user-email">
              <span> {{user.email}} </span>
            </div>
            <button matTooltip="Chấp nhận kết bạn" *ngIf="requestStatus === 'Chưa kết bạn'"
              (click)="toggleRequest(true, user.id)" class="btn"><i class="uil uil-user-plus"></i></button>
            <button disabled *ngIf="requestStatus === 'Đang kết bạn'" class="btn"><i
                class="uil uil-user-plus"></i></button>
            <button *ngIf="requestStatus === 'Kết bạn thành công'" class="btn"><i class="uil-check"></i></button>
            <button matTooltip="Từ chối kết bạn" (click)="toggleRequest(false , user.id )" class="btn reject"><i
                class="uil uil-user-times"></i></button>
          </mat-list-item>
          <div>
            <hr>
            <p style="text-align: left; font-size: 10pt;" >Suggest add friends</p>
          </div>          
          <mat-list-item *ngFor="let user of listOfFriend">
            <img (error)="handleError($event)" matListAvatar [src]="user.photoURL" />
            <div matLine class="user-email">
              <span> {{user.email}} </span>
            </div>
            <button (click)="addFriend(user.id)" class="btn"><i class="uil uil-user-plus"></i></button>
          </mat-list-item>
        </mat-selection-list>
      </mat-list>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Send</button> -->
</mat-dialog-actions>