<!-- <h2 mat-dialog-title>Install Angular</h2> -->
<mat-dialog-content class="mat-typography">
  <!-- <h3>Develop across all platforms</h3> -->
  <div class="forward-pop-up">
    <div class="Top-bar">
      <h1>Lời mời kết bạn</h1>
    </div>
    <div class="Body-bar">
      <!-- <div class="body-searching-bar">
                <div class="search-user-email">
                    <input class="enter-email" placeholder="Enter an email...">
                </div>
                <div class="search-user-icon">
                    <span><i class="uil uil-message"></i></span>
                </div>
            </div> -->
      <!-- <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter an email here..." />
        </mat-form-field>
      </form> -->
      <mat-list>
        <mat-selection-list>  
     
            <mat-list-item  *ngFor="let user of request">
              <img
                matListAvatar
                src="https://icdn.dantri.com.vn/thumb_w/770/2022/04/13/612130-1649843704671.jpg"
              />
              <p matLine>
                <span> {{user.email}} </span>
              </p>
              <button (click)="toggleRequest(true, user.id)" class="btn" ><i class="uil uil-user-plus"></i></button>
              <button (click)="toggleRequest(false , user.id )" class="btn"><i class="uil uil-user-times"></i></button>
            </mat-list-item>
          
            <!-- <mat-list-item>
              <img
                matListAvatar
                src="https://giaxeoto.vn/admin/upload/images/resize/640-ngoai-that-lamborghini-huracan-evo.jpg"
              />
              <p matLine>
                <span> lamborghin2@email </span>
              </p>
              <button class="btn"><i class="uil uil-user-check"></i></button>
              <button class="btn"><i class="uil uil-user-times"></i></button>
            </mat-list-item>
            <mat-list-item>
              <img
                matListAvatar
                src="https://vcdn1-vnexpress.vnecdn.net/2020/07/09/lamborghini-sian-roadster-VNE-9_1594277287.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=eCx8Xh-m-3iXk90r5-7F4A"
              />
              <p matLine>
                <span> lamborghin3@email </span>
              </p>
                <button class="btn"> <i class="uil uil-user-check"></i></button>
                
            
              <button class="btn"><i class="uil uil-user-times"></i></button>
              
            </mat-list-item> -->
          <!-- <mat-list-option>
                      <mat-list-item>
                          <img matListAvatar src="https://giaxeoto.vn/admin/upload/images/resize/640-ngoai-that-lamborghini-huracan-evo.jpg" >
                          <p matLine>
                            <span> @email </span>
                          </p>
                        
                    </mat-list-item> 
                    <mat-list-option>
                        <mat-list-item>
                            <img matListAvatar src="https://vcdn1-vnexpress.vnecdn.net/2020/07/09/lamborghini-sian-roadster-VNE-9_1594277287.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=eCx8Xh-m-3iXk90r5-7F4A" >
                            <p matLine>
                              <span> @email </span>
                            </p>
                          </mat-list-item>
                    </mat-list-option>
                </mat-list-option> -->
        </mat-selection-list>
      </mat-list>
      <!-- <div class="body-user-email">
                <div class="user-image">
                    <div class="user-image-1">
                        <img src="https://icdn.dantri.com.vn/thumb_w/770/2022/04/13/612130-1649843704671.jpg" width="40"
                            height="40"><br>
                    </div>
                    <div class="user-image-2">
                        <img src="https://giaxeoto.vn/admin/upload/images/resize/640-ngoai-that-lamborghini-huracan-evo.jpg"
                            width="40" height="40"><br>
                    </div>
                    <div class="user-image-3">
                        <img src="https://vcdn1-vnexpress.vnecdn.net/2020/07/09/lamborghini-sian-roadster-VNE-9_1594277287.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=eCx8Xh-m-3iXk90r5-7F4A"
                            width="40" height="40"><br>
                    </div>
                </div>
                <div class="user-email">
                    <div class="user-email-1">
                        <p>lamborghin1@email</p>
                    </div>
                    <div class="user-email-2">
                        <p>lamborghin2@email</p>
                    </div>
                    <div class="user-email-3">
                        <p>lamborghin3@email</p>
                    </div>
                </div>
                <div class="user-forward">
                    <div class="user-forward-1">
                        <span><i class="uil uil-location-arrow"></i></span><br>
                    </div>
                    <div class="user-forward-2">
                        <span><i class="uil uil-location-arrow"></i></span><br>
                    </div>
                    <div class="user-forward-3">
                        <span><i class="uil uil-location-arrow"></i></span><br>
                    </div>
                </div>
            </div>
            <input class="body-message-bar" placeholder="Type here..."> -->
    </div>
    <!-- <div class="Bottom-bar">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Leave a message</mat-label>
          <textarea matInput placeholder="Enter your messages..."></textarea>
        </mat-form-field>
      </form>
    </div> -->
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Send</button> -->
</mat-dialog-actions>
