.Top-bar {
  display: flex;
}

.btn{
  background-color: #5a3e9e;
  padding: 5px;
  border-radius: 5px;
  letter-spacing: 1px;
    color: white;
    font-weight: bold;
    border: 1px solid #f0f0f0;

    &:hover{
      cursor: pointer;
    }
}

.friends{
  background-color: #f0f0f0;
  color: #4d4d4d;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  padding: 5px;
}

h1 {
  margin-bottom: 0%;
}

.Body-bar {
  margin-top: 1%;
}

.example-form {
  // min-width: 150px;
  // max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
