.Top-bar{
    display: flex;  
    border-bottom-width: 3px black;
    border-bottom-style: solid;
}

.example-form {
    // min-width: 150px;
    // max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }