<mat-dialog-content class="mat-typography">
  <div class="forward-pop-up">
    <div class="Top-bar">
      <h1>Search friends</h1>
    </div>
    <div class="Body-bar">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter an email here..." name="first" [(ngModel)]="email"
            (keydown)="onKeydown($event)">
        </mat-form-field>
      </form>
      <mat-list>
        <mat-selection-list>
          <!-- <mat-list-option> -->
          <div *ngFor="let usr of listOfEmail">
            <mat-list-item>
              <img matListAvatar [src]="usr.photoURL">
              <p matLine>
                <span> {{usr.email}} </span>
              </p>
              <button (click)="addFriend(usr.id)"><i class="uil uil-user-plus"></i></button>
            </mat-list-item>
          </div>

        </mat-selection-list>
        <!-- <mat-icon>person_add</mat-icon> -->
      </mat-list>
    </div>
    <div *ngFor="let usr of listOfFriend">
      <mat-list-item>
        <img matListAvatar [src]="usr.photoURL">
        <p matLine>
          <span> {{usr.email}} </span>
        </p>
        <button (click)="addFriend(usr.id)"><i class="uil uil-user-plus"></i></button>
      </mat-list-item>
    </div>
    <!-- <div class="Bottom-bar">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Leave a message</mat-label>
                <textarea matInput placeholder="Enter your messages..."></textarea>
  </mat-form-field>
            </form>
        </div> -->
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial></button> -->
</mat-dialog-actions>