.not-show-task-details{
  display: none;
}

.task-details{
  width: 350px;
  height: 100%;
  padding: 20px 20px;
  // position: fixed;
  background-color: #D9D9D9;
}

.delete-n-closeDetail-board-container{
  display: flex;
  justify-content: end;
}

.delete-n-closeDetail-board{
  width: fit-content;
  margin-bottom: 10px;
  
    button{
      margin-left: 10px;
      border: none; 
      background-color:transparent;
      i{
        font-size: 25px;
      }
    
      &:hover{
        cursor: pointer;

        .uil-trash-alt{
          color: #E74848;
        }

        .uil-multiply{
          color: #5a3e9e;
        }
      }
    }
}

.label {
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}

.title-detail {
  margin: 10px 0;

  input {
    padding: 10px;
    letter-spacing: 1px;
    font-size: 16px;
    width: 100%;
    font-weight: bold;
  }
}

.status-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;

  .label {
    margin-right: 5px;
  }
}

.description-detail {
  margin: 10px 0;

  textarea {
    letter-spacing: 1px;
    font-size: 12px;
  }
}

.detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;

  p {
    letter-spacing: 1px;
    font-weight: bold;
  }

  .detail-row-data {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      margin-right: 5px;
    }
  }
}

.user-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #333;
}

.datePicker-ipt {
  display: flex;
  flex-direction: row;
  margin: 0;
  right: 0;

  input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 75px;
    text-align: end;
  }
}

.chose{
  background-color: #5a3e9e;
  color: white;
}

// DROPDOWN STATUS STYLE====
.dropdownBtn::before {
  content: '';
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 10000;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}

.dropdownBtn.active::before {
  top: 22px;
  transform: rotate(-225deg);
}

.dropdownBtn.active .option {
  display: block;
}

.dropdownBtn {
  position: relative;
  width: 180px;
  height: 50px;
  z-index: 1;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
  }

  .option {
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    display: none;

    div {
      padding: 10px 15px;
      letter-spacing: 1px;
      font-weight: 600;

      &:hover {
        cursor: pointer;
        background-color: #5a3e9e;
        color: white;
      }
    }
  }
}

.dropdownBtn.lightFont::before {
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
}

.dropdownBtn.blackFont::before {
  border: 2px solid #333;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
}


// Custom background status dropdown
.todo-active{
  background-color: white;
  color: black;
}

.doing-active{
  background-color: #EF9B26;
  color: white;
}

.done-active{
  background-color: #3C589E;
  color: white;
}

// DROPDOWN BUTTON PRIO STYLE
.dropdownBtn-Prio::before {
  content: '';
  position: absolute;
  right: 10px;
  top: 8px;
  z-index: 10000;
  width: 4px;
  height: 4px;
  border-radius: 1px;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
  border: 2px solid #333;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
}

.dropdownBtn-Prio.active::before {
  top: 10px;
  transform: rotate(-225deg);
}

.dropdownBtn-Prio.active .optionPrio {
  display: block;
}

.dropdownBtn-Prio {
  position: relative;
  width: 120px;
  height: 30px;
  z-index: 1;
  display: flex;
  align-items: center;
  padding-left: 2px;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.05);

  mat-icon{
    z-index: 1;
    font-size: 18px;
    width: 18px;
    height: 18px;
  }

  input {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    margin-left: 15px;
    width: 90%;
    height: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 8px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    color: #000;
  }

  .optionPrio {
    position: absolute;
    bottom: 40px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 1p solid #333;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    display: none;

    div {
      padding: 10px 15px;
      letter-spacing: 1px;
      font-weight: 600;

      &:hover {
        cursor: pointer;
        background-color: #5a3e9e;
        color: white;
      }
    }
  }
}

// Custom background status dropdown
.dropdownBtn-Prio.normal-active{
  mat-icon{
    color: #3C589E;
  }
}

.dropdownBtn-Prio.medium-active{
  mat-icon{
    color: #EF9B26;
  }
}

.dropdownBtn-Prio.important-active{
  mat-icon{
    color: #E74848;
  }
}