<h1 mat-dialog-title>List of Members:</h1>
<div mat-dialog-content>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          
          <input matInput #message maxlength="256" placeholder="...@gmail.com">
          <mat-hint align="start"><strong>Please input an email</strong> </mat-hint>
          <mat-hint align="end">{{message.value.length}} / 100</mat-hint>
        </mat-form-field>
      </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
