<h1 mat-dialog-title>Assign to</h1>
<div mat-dialog-content>
  <input type="text" placeholder="Enter an email..." class="ipt">
  <div *ngFor="let participant of data.participants">
    <div class="participant-container" [class.active]="data.choseUser.id === participant.id">
      <div>
        <img src={{participant.photoURL}} alt="User Ava" (error)="handleError($event)">
        <div class="user-info">
          <h3>{{participant.displayName}}</h3>
          <p>{{participant.email}}</p>
        </div>
      </div>
      <button class="chooseBtn" [mat-dialog-close]="{data: participant, type: data.type}" >Choose</button>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
