<h1 mat-dialog-title>Assign to</h1>
<div mat-dialog-content>
  <!-- <form class="example-form">
    <mat-form-field appearance="fill" style="width: 100%">
      <input class="ipt" #message maxlength="256" placeholder="...@gmail.com">
      <mat-hint align="start"><strong>Please input an email</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 100</mat-hint>
    </mat-form-field>
  </form> -->
  <input type="text" placeholder="Enter an email..." class="ipt">
  <div *ngFor="let participant of data">
    <div class="participant-container">
      <div>
        <img src={{participant.photoURL}} alt="User Ava" (error)="handleError($event)">
        <div class="user-info">
          <h3>{{participant.displayName}}</h3>
          <p>{{participant.email}}</p>
        </div>
      </div>
      <button class="chooseBtn" [mat-dialog-close]="participant" >Choose</button>
    </div>
    <!-- <olaz-participant (pickEmit)="this.choseParticipant = $event" [participant]="participant"></olaz-participant> -->
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
