<body>
<div class = "profile-container">
    <button class="uil uil-multiply"></button>
    <div class="profile-img" >
        <img src="userInfo['photoURL']"/>
    </div>
    <hr >  
    <h3>User Name</h3>
    <div>
        <i class="uil uil-user"></i>
        <input >
        <i class="uil uil-pen"></i>
    </div>
    <h3>Email</h3>
    <div class="infomation">
        <i class="uil uil-user"></i>
        <input >
        <i class="uil uil-envelope"></i>
    </div>
    <div>Save</div>
</div>
</body>