<div style="width: 100%;">
  <h1 class="title">Edit Todo</h1>
  <div mat-dialog-content>
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
      <div class="field">
        <div class="control">
          <input type="text" class="input" [ngModel]="todo.title" #todoTextField="ngModel" name="text" required
            minlength="2" placeholder="Type todo text here..." />
        </div>

        <div *ngIf="todoTextField.invalid">
          <p class="help is-danger" style="color:#E74848" *ngIf="todoTextField.errors!['required']">
            Please enter the text of your todo
          </p>
          <p class="help is-danger" style="color:#E74848" *ngIf="todoTextField.errors!['minlength']">
            Todo text must be at least 2 characters
          </p>
        </div>
      </div>

      <br />

      <div class="groupBtn">
        <div>
          <button type="button" class="button is-light" (click)="close()">
            <p>Cancel</p>
          </button>
          <button type="submit" class="button alt-gradient-button">
            <p>Save</p>
          </button>
        </div>
      </div>
    </form>
  </div>

</div>
