<div *ngIf="this.appear !== undefined"
  style="width: 100%; display: flex; justify-content: center; flex-direction: column; align-items: center; overflow: hidden; position: relative;">
  <div class="heading-section">
    <h1 class="title1">Todos</h1>
  </div>
  <div class="add-todo-box-container">
    <div class="add-todo-box">
      <form #form="ngForm" (ngSubmit)="onFormSubmit(form)"
        style="width: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
        <h3 class="title2">New Todo</h3>
        <div class="addNewIpt">
          <input ngModel #todoTextField="ngModel" required minlength="2" name="text" type="text"
            placeholder="What to do?" />
          <div *ngIf="todoTextField.invalid && showValidationErrors">
            <p class="help is-danger" style="color:#E74848" *ngIf="todoTextField.errors!['required']">
              Please enter the text of your todo
            </p>
            <p class="help is-danger" style="color:#E74848" *ngIf="todoTextField.errors!['minlength']">
              Todo text must be at least 2 characters
            </p>
          </div>
        </div>
        <button type="submit" class="button alt-gradient-button">
          <i class="material-icons">add</i>
          <p>Add</p>
        </button>
      </form>
    </div>
  </div>


  <div class="todos-list-container">
    <div class="todo-list-content">
      <div class="groupBtn">
        <div>
          <button [class.active]="currentList === item.value" class="btn-filter" *ngFor="let item of arr"
            (click)="toggleList(item)">{{item.value}}</button>
        </div>
        <div>
          <button class="btn" (click)="toggleCompleteAll()">{{!checkedAll ? 'Check All' : 'Uncheck All'}}</button> |
          <button class="btn" (click)="deleteMultiTask()">Delete tasks</button>
        </div>
      </div>
      <div class="todos-list" *ngIf="tempTodos.todos.length !== 0 && tempTodos !== undefined">
        <olaz-todo-item *ngFor="let todo of todos" [todo]="todo" (todoClicked)="toggleCompleted(todo)"
          (editClicked)="editTodo(todo)" (deleteClicked)="deleteTodo(todo)"></olaz-todo-item>
      </div>
      <div class="todos-list" style="justify-content: center;" *ngIf="tempTodos.todos.length === 0">
        <h3 style="text-align: center; margin-top: 50px; letter-spacing: 1px; font-weight: bold;">You have <span style="color: #9756e2;">0</span> to do task right now!</h3>
      </div>
    </div>
  </div>
</div>
