.heading-section {
    // background: linear-gradient(to right, rgb(2, 228, 171), rgb(74, 215, 240));
  /* Created with https://www.css-gradient.com */
  background: #A077EA;
  background: -webkit-linear-gradient(top left, #A077EA, #734EBF);
  background: -moz-linear-gradient(top left, #A077EA, #734EBF);
  background: linear-gradient(to bottom right, #A077EA, #734EBF);
  
    // padding: 3rem;
    // padding-bottom: 150px;
    width: 100%;
    padding: 2.5rem 2.5rem 4.5rem 2.5rem;
  
    h1.title1 {
      font-weight: bold;
      color: white;
      letter-spacing: 1px;
      text-shadow: 0px 1px 2px rba(black, 0.12);
    }
  }
  
  .container {
    max-width: 90%;
  }
  
  .add-todo-box-container {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .add-todo-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background: white;
    border-radius: 4px;
    margin-top: -30px;
    box-shadow: 0 4px 12px rgba(black, 0.08);

    h3{
      display: inline-block;
      letter-spacing: 1px;
    }

    input{
      width: 75%;
      padding: 5px;
      border-radius: 5px;
      letter-spacing: 1px;
      border: 1px solid #4d4d4d;
    }
  }
  
  


@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; }

.alt-gradient-button {
  background: #9756e2;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 600;
  opacity: 0.92; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px; 
  
  p{
    margin: 0;
    letter-spacing: 1px;
  }

  &:hover{
    opacity: 1;
    color: white;
    box-shadow: 0px 0px 0px 4px rgba(black, 0.05);
  }

  &:active {
    opacity: 0.8;
  }
  
  &:focus {
    color: white;
    opacity: 1;
  }

  i.material-icons {
    margin-right: 7px;
    margin-left: -3px;
  }
}

