<!-- <div class="task-container" cdkDropList #todolist="cdkDropList" [cdkDropListData]="taskList" (cdkDropListDropped)="drop($event)"> -->
    <div class="task-title">
      <div style="display: flex; flex-direction: row; justify-content: space-between">
        <h2>{{task.title}}</h2>
        <mat-icon [ngStyle]="{'color': task.priority === 0 ? '#3C589E' : task.priority === 1 ? '#EF9B26': '#E74848'}">bookmark</mat-icon>
      </div>
      <p style="margin-left: 0px;">{{task.description}}</p>
    </div>
    <div class="task-footer">
        <div class="deadline">
            <i class="uil uil-calender"></i>
            <p>Deadline: {{deadline }}</p>
        </div>
        <img *ngIf="assignee !== undefined" class="user-Img" alt="User Ava" (error)="handleError($event)"
            src={{assignee.photoURL}}>
    </div>
<!-- </div> -->