
<!-- <input placeholder="Enter User id " [(ngModel)]="userID" > -->
<!-- <button type="button" (click)="clickCall()">call</button> -->
<!-- <button type="button" (click)="openDialogCreatRoom()">call</button> -->

<!-- <router-outlet></router-outlet> -->
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 93vh;">
    <h3 style="font-size: 30px; letter-spacing: 1px;">Work in progress</h3>
    <img src="../../../../assets/images/meeting.png" alt="">
</div>