.container{
  width: 100vw;
  height: 100vh;
}

.mat-drawer{
  width: 16rem;
}

mat-drawer:not(.mat-drawer-opened) {
  transform: none !important;
  visibility: visible !important;
  width: 5rem !important;
  overflow: hidden;
  display: block;
} 

.mat-drawer-content{
  margin-left: 5rem;
}

.mat-drawer-transition .mat-drawer-content{
  transition-duration: 0;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: transform,margin-left,margin-right;
}
