
.profile-container{
    background-color: #000000;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    text-align: center;
}

hr{
    margin-bottom: 10px;
}

.dialog-row{
    display: flex;
    flex-direction: row;
    margin: 10px 0;

    i{
        color: #333;
    }
}

.profile-img{
    width: 120px;
    height: 120px;
    border: 1px solid #333;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto ;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.information{
    display: flex;
    flex-direction: column;
}
hr {
    margin: 0 15px;
  }
.uil-multiply{
    margin-left: 90%;
    font-size: 25px !important;
    background-color: transparent;
    border: none;
  }
.uil {
    font-size: 30px;
    color: #000000;
    padding: 0px 10px;
    cursor: pointer;
  }
.input{
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #333;
}
.save{
    background-color: #5a3e9e;
    // border: 1px solid #5a3e9e !important;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;

    &:hover{
        cursor: pointer;
        color: #5a3e9e;
        background-color: white;
        border: 1px solid #5a3e9e;

    }
}