:root {
  --purple: #5a3e9e;
  --gray: #595858;
}

.wrapper-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-wrapper {
  width: 95%;
  flex-flow: column;
  display: flex;
  padding: 20px 10px;

}

// TITLE STYLE================
.content-title {
  display: flex;
  flex-direction: row;

  .backBtn {
    margin-right: 5px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;

    .uil-angle-left-b {
      font-size: 30px;
    }

    &:hover {
      cursor: pointer;

      i {
        color: #5a3e9e;
      }
    }
  }
}

// ADD AREA STYLE=============

.add-area {
    display: flex;
    justify-content: center;
    margin: 15px 0;

  input {
    width: 50%;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 5px;
    letter-spacing: 1px;
    margin-right: 10px;
    border: 1px solid var(--light-gray);
    background-color: #E1E1E1;
  }

  .addBtn {
    background-color: #9756E2;
    color: white;
    border: 1px solid #9756E2;
    width: 2rem;
    height: 2rem;
    border-radius: 5%;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
      background-color: white;
      color: #9756E2;
      border: 1px solid #9756E2;
    }
  }
}

// TASK COLUMN STYLE==========

.dashboard {
    width: 100%;
    flex: 6;
    display: flex;
    justify-content: center;
}

.dashboard-columns {
    width: 100%;
    height: 30rem;
    max-height: 50rem;
    min-height: 10rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 20px;

}

.task-column {
    background-color: #D9D9D9;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    // max-height: 480px;
    min-height: 300px;
    flex-basis: 0;
    min-width: 300px;
    border-radius: 5px;
}

.task-column-container {
    flex-grow: 1;
    position: relative;
    overflow-y: auto;

}


.task-container {
    display: flex;
    padding: 15px 12px;
    background: #F9F8F8;
    border-bottom: solid 1px white;
    border-radius: 4px;
    margin: 10px 15px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05), 0 3px 14px 2px rgba(0, 0, 0, 0.05);

    
    &:hover{
      box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
}

.title {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;
    background-color: #EAEAEA;
    padding: 10px;
    display: flex;
    justify-content: center;
}

olaz-single-task{
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

    &:hover{
      cursor: pointer;
    }
}

// TASK DETAILS STYLE==============


// SCROLLING STYLE================

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media screen and  (min-width: 1000px){
    .task-column{
      min-height: 465.5px;
    }
}

